@model Login.Models.UserDto
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <div class="row mt-5">
        <div class="col-sm-4 offset-sm-4">
            <form asp-controller= "User" asp-action="Index" method="post">
                <h3 class="text-center text-info">Login</h3>
                 <div class="row p-3 border-0">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>  
                 </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email</label>
                <input type="email" class="form-control" asp-for="Email">  
                <span asp-validation-for="Email" class="text-danger"></span>
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" asp-for="Password">
                <span asp-validation-for="Password" class="text-danger"></span>
                
              </div>
                @if (ViewData["Mensaje"] != null)
                {
                  <div class="alert alert-danger" role="alert">
                    @ViewData["Mensaje"] 
                 </div>                    
                }
               
              
              <button type="submit" class="btn btn-primary">Ingresar</button>
            </form>
        </div>

         <div class="mt-4">
            <div class="d-flex justify-content-center links">
                 <a href="@Url.Action("Register", "User")" class="ml-2">Registrarse</a>
            </div>          
        </div>

    </div>
     <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>

